.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
    min-height: 90vh;

    background: linear-gradient(
        135deg,
        #fff,
        #ffe5e5
    );
}
.hero-left{
    width:50%;
}
.tag{
    background:#ffeded;
    padding:10px 18px;
    border-radius:50px;
    color:red;
    font-weight:600;
    display:inline-block;
    margin-bottom:20px;
}
.hero-left h1{
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-left p{
    font-size: 18px;
    color:#555;
    line-height: 1.8;
    margin-bottom: 40px;

}
.hero-buttons{
    display:flex;
    gap:20px;
    margin-bottom: 40px;
}
.primary-btn{
    background:var(--primary-gradient);
    color:white;
    padding:15px 30px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;


}
.secondary-btn{
    background:white;
    border:2px solid red;
    color:red;
    padding: 15px 30px;
    border-radius :10px;
    cursor:pointer;
    font-size:16px;
}
.hero-features{
    display:flex;
    gap:40px;
    font-size:17px;
    font-weight:600;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    position:relative;
    height:650px;
}
.hero-card{
    background:white;
    padding:50px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
    text-align:center;
    width:320px;
}
.hero-card h2 {
    margin-bottom :20px;
}
.hero-card h1{
    font-size:60px;
    color:red;
    margin-bottom:10px;
}
.hero-card button{
    margin-top:30px;
    background:red;
    color:white;
    padding :15px 35px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
.tv-image{

    width:420px;

    position:absolute;

    right:40px;

    top:20px;
}
.router-image{

    width:350px;

    position:absolute;

    bottom:70px;

    left:80px;
}
.wifi-icon{

    position:absolute;

    top:180px;

    left:90px;

    font-size:55px;
}
.ott-card{

    position:absolute;

    bottom:120px;

    right:60px;

    width:120px;

    height:120px;

    background:white;

    border-radius:50%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    box-shadow:0 10px 30px rgba(0,0,0,.15);
}