.compare{
    padding : 100px 8%;
    background: #fafafa;
}
.compare .section-title{
    text-align:center;
    margin-bottom:50px;

}
.compare h2{
   font-size: 46px;
   margin-bottom:15px;
}
.compare h2 span {
    color:#E30613;
}
.compare p{
    color:#666;
    font-size:18px;
}
.compare-table{
    display:grid;
    grid-template-columns:220px repeat(3,1fr);
    background :white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}
.table-header{
    padding:30px;
    text-align:center;
    font-weight:bold;
    font-size:22px;
}
.feature{
    background:#E30613;
    color:white;
}
.broadband{
    background:#f7f9ff;
    color:#E30613;
}
.iptv{
    background:#f7f9ff;
    color:#E30613;
}
.combo{
    background:#f7f9ff;
    color:#E30613;
}
.combo small{
    display:block;
    margin-top:5px;
    font-size:13px;

}
.feature-name{
    background:#fafafa;
    font-weight :600;

}
.compare-table div{
    padding:20px;
    text-align:center;
    border:1px solid #eee;
}
.feature-name div{
    text-align:left;
    padding-left:30px;
}
.mobile-note{
    display:none;
}

.compare-scroll{
    width:100%;
}

@media (max-width:992px){
    .compare{
    padding:70px 5%;
}

.compare-scroll{
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
}

.compare-table{
    min-width:900px;
}

.comparison{
    padding:70px 5%;
}

.comparison-table{
    overflow-x:auto;
    border-radius:20px;
    -webkit-overflow-scrolling:touch;
}

.comparison-table table{
    min-width:850px;
}

.comparison-table::-webkit-scrollbar{
    height:8px;
}

.comparison-table::-webkit-scrollbar-thumb{
    background:#e30613;
    border-radius:20px;
}

}
/* ============================
   Mobile Responsive
============================= */

@media (max-width:768px){

.compare{
    padding:50px 15px;
}

.compare h2{
    font-size:32px;
}

.compare p{
    font-size:15px;
}

.mobile-note{
    display:block;
    text-align:center;
    margin-bottom:15px;
    color:#666;
    font-size:14px;
    font-weight:500;
}

.compare-scroll{
    overflow-x:auto;
}

.compare-table{
    min-width:850px;
}

.compare-table div{
    padding:16px;
    font-size:15px;
}

.table-header{
    font-size:18px;
}



}@media (max-width:480px){

.compare h2{
    font-size:28px;
}

.compare p{
    font-size:14px;
}

.compare-table{
    min-width:780px;
}

.compare-table div{
    padding:14px;
    font-size:14px;
}

.table-header{
    font-size:16px;
}

.mobile-note{
    font-size:13px;
}

}