.compare{
    padding : 100px 8%;
    background: #fafafa;
}
.compare .section-title{
    text-align:center;
    margin-bottom:50px;

}
.compare h2{
   font-size: 46px;
   margin-bottom:15px;
}
.compare h2 span {
    color:#E30613;
}
.compare p{
    color:#666;
    font-size:18px;
}
.compare-table{
    display:grid;
    grid-template-columns:220px repeat(3,1fr);
    background :white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}
.table-header{
    padding:30px;
    text-align:center;
    font-weight:bold;
    font-size:22px;
}
.feature{
    background:#E30613;
    color:white;
}
.broadband{
    background:#f7f9ff;
    color:#E30613;
}
.iptv{
    background:#f7f9ff;
    color:#E30613;
}
.combo{
    background:#f7f9ff;
    color:#E30613;
}
.combo small{
    display:block;
    margin-top:5px;
    font-size:13px;

}
.feature-name{
    background:#fafafa;
    font-weight :600;

}
.compare-table div{
    padding:20px;
    text-align:center;
    border:1px solid #eee;
}
.feature-name div{
    text-align:left;
    padding-left:30px;
}
@media(max-width:900px){
    .compare-table{
        overflow-x:auto;
        display:block;
    }
}

