.navbar{
    background:white;
    padding :20px 0;
}
.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo h2{
    color:#E30613;
}
.nav-links{
    display:flex;
    gap:25px;
}
.nav-links a{
    color:#222;
    font-weight:500;

}
.nav-links a:hover{
    color:#E30613;
}

.nav-buttons{
    display:flex;
    gap:15px;
}
.pay-btn{
    background:#E30613;
    color:white;
    padding:12px 22px;
    border-radius:10px;
}