.navbar{
    position: fixed;
    padding:15px;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo img{
    height: 60px;
    align-items:center;
    width: auto;
}
.nav-links{
    list-style:none;
    display:flex;
    align-items:center;
    gap:25px;
}
.nav-links a{
    color:#222;
    font-weight:500;

}
.nav-links a:hover{
    color:#E30613;
}

.nav-buttons{
    display:flex;
    gap:15px;
}
.pay-btn{
    background:#E30613;
    color:white;
    padding:12px 22px;
    border-radius:10px;
}
.connect-btn{
    background:#fff;
    color:#E30613;
    padding:12px 22px;
    border-radius:10px;

    border:1px solid #E30613;
}
.body{
    padding-top: 80px;
}